.software-carousel-container {
  text-align: center;
  padding: 20px;
  margin-top: 6rem;
}

.carousel {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.heading {
  font-size: 3.5rem;
  margin-bottom: 0;
  line-height: 3.75rem;
  letter-spacing: -2px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.slick-slider {
  margin-top: 2rem;
}

.carousel-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100px; /* Adjust width according to logo size */
  margin-right: 20px;
}

.carousel-item img {
  width: 100px; 
  height: 100px; 
  object-fit: contain
}

.slick-prev, .slick-next {
  display: none !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
